body {
  min-height: 100vh;
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

h1 {
    color: whitesmoke;
    font-family: "Titan One", cursive;
    font-weight: lighter;
    margin-bottom: 20px;
  }

h1:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }

button:hover{
    background-color:  #4CAF50;
    transition: color 1s;
}





  